@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<header>
    <h1 class="fw-semibold">Administra tu cuenta</h1>
    <h2 class="h3 fw-light text-muted">Cambia la configuración de tu cuenta</h2>
    <hr style="opacity: .1;" />
</header>

<div>

    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
