@page
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="">
                <label asp-for="Username" class="form-label">Correo</label>
                <input asp-for="Username"  placeholder="Ingrese su nuemero de correo" class="form-control" disabled />
            </div>

            <div class="mt-2">
                <label asp-for="Input.PhoneNumber" class="form-label">Numero telefono</label>
                <input asp-for="Input.PhoneNumber" placeholder="Ingrese su nuemero de telefono" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mt-3">
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
