@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center my-5">
    <h1 class="display-5 fw-bold"> Gestion de Tareas 📋 </h1>
    <p class="lead">
        Gestiona tus tareas de forma intuitiva y sencilla.
    </p>

    <picture class="d-flex justify-content-center align-items-center mx-auto col-12 col-md-5">
        <img src="~/img/task-bro.svg" class="img-fluid" alt="man take tasks">
    </picture>
</div>
