@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center my-5">
    <h1 class="display-5 fw-bold"> Gestion de Tareas 📋 </h1>
    <p class="lead">
        Gestiona tus tareas de forma intuitiva y sencilla.
    </p>
</div>
