html {
  font-size: 1rem;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Work Sans', sans-serif;
  --bs-warning-rgb: 255, 226, 80;
}

.textarea {
  height: 100px;
  min-height: 100px;
  max-height: 100px;
}

.cursor-pointer { cursor: pointer; }

 
.admin-panel {
  overscroll-behavior-block: contain;
  
  margin-left: 0;
  transition: margin-left ease-in-out .3s;
  position: fixed !important;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 75px repeat(3, 1fr) 75px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  width: 350px !important;
  max-height: 100vh;
  min-height: 100vh;
  z-index: 100;
  background-color: #fff;
}

.admin-panel-hide {
  margin-left: -350px;
}

.admin-panel__header {
  grid-area: 1 / 1 / 2 / 6;
}

.admin-panel__main {
  grid-area: 2 / 1 / 5 / 6;
  min-height: 100%;
  overflow-y: auto;

  transition: margin-left ease-in-out .3s;

}

.admin-panel__footer {
  grid-area: 5 / 1 / 6 / 6;
}


.wrapper > main {
  width: 100% !important;
  margin-left: 350px !important;
  transition: margin-left ease-in-out .3s;
}

.wrapper:has(.admin-panel-hide) > main {
  margin-left: 50px !important;
  transition: margin-left ease-in-out .3s;
}

.date_task {
  top: 0;
  z-index: 200 !important;
  background-color: #fff;
}

.fw-semibold {
  font-weight: 600 !important;
}

.btn-hide-admin-panel {
  display: none;
}


@media screen and (max-width: 760px) {
  .wrapper > main {
    margin: 0 !important;
  }

  
  .btn-hide-admin-panel {
    display: block;
  }

}

@media screen and (max-width: 480px) {
  .admin-panel:not(.admin-panel-hide) {
    width: 100% !important;
  }

 
  .wrapper:has(.admin-panel-hide) > main {
    margin: 0 !important;
    transition: margin-left ease-in-out .3s;
  }

  
}